.style1 {

  min-width: 100% !important;
  margin: 40px;
  display: flex;
}

.style1 > img {

  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
 
}

.style1 > div {

  margin-left: 20px;
  max-width: 500px;
}

.style2 div:not(:first-child) {
  padding-left: 20px !important;
} 

.style3 {

  display: grid !important;
  grid-template-columns: 50% 50% !important;
  padding: 20px !important;
}

.style3 div {

  margin: 10px !important;
}